PORT=
NODE_ENV=
ENV=
NOTIFICACIONES_API_KEY=
NOTIFICACIONES_AUTO_SEED=true
LOGIN_BASE_URL=
LOGIN_API_KEY=
JWT_SECRET=
JWT_DOC_SECRET=
EMAIL_PROVIDER=log
EMAIL_FROM_ADDRESS=
EMAIL_FROM_NAME=Sistema Academico
AZURE_COMMUNICATION_EMAIL_CONNECTION_STRING=

DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_SSLMODE=require
